* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #01171b;
}

svg path {
    fill: #00394f;
    stroke: #eee;
    stroke-width: 0.65;
}

/* #loadMouse:hover {
    animation: hideMouse 3s;
} */

@keyframes hideMouse {
    0% {
        cursor: wait;
    }

    50% {
        cursor: pointer;
    }

    90% {
        cursor: none;
    }
}

.uae-path {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
}

.uae-path:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.saudiarabia-path {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
}

.saudiarabia-path:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.Oman {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
    transform-box: fill-box;
}

.Oman:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.Egypt {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
    transform-origin: center;
    transform-box: fill-box; /* Ensure scaling uses the path's bounding box */
}

.Egypt:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.palestine {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(1.2); /* Adjust the scale value to make it larger */
}

.palestine:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.qatar {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
    transform-origin: center;
    transform-box: fill-box;
    transform: scale(1.5); /* Adjust the scale value as needed */
}

.qatar:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.Lebanon {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
}

.Lebanon:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.Syria {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
}

.Syria:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.Yemen {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
}

.Yemen:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.Morocco {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
}

.Morocco:hover {
    fill: #ffffff;
    transition: 0.9s;
}

.Jordan {
    fill: #5b0404;
    stroke: #eee;
    stroke-width: 0.65;
}

.Jordan:hover {
    fill: #ffffff;
    transition: 0.9s;
}






